* {
  margin: 0;
  padding: 0;
}

.moon_container {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.rock1_container {
  display: flex;
  align-content: flex-start;
}

.rock2_container {
  justify-content: left;
  align-items: center;
  position: absolute;
  margin-top: 400px;
  z-index: 1;
}

.moon {
  height: auto;
  animation: rotate360 45s linear infinite;
}

.rock1 {
  width: 50px;
  height: 50px;
  /* animation */
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation: rock1MoveAndRotate 10s linear infinite;
  animation-duration: 12s;
}

.rock2 {
  width: 200px;
  height: 200px;
  /* animation */
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation: rock2MoveAndRotate 10s linear infinite;
  animation-duration: 50s;
}

@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rock1MoveAndRotate {
  0% {
    transform: translateX(0) rotate(360deg);
  }
  30% {
    transform: translateX(200vw);
  }
  60% {
    transform: translateY(120vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes rock2MoveAndRotate {
  0% {
    transform: translateX(0) rotate(360deg);
  }
  30% {
    transform: translateX(110vw);
  }
  60% {
    transform: translateY(100vw);
  }
  100% {
    transform: translateX(100vw);
  }
}
